@font-face{
  font-family: "JHA Times Now";
  src: url('./font.woff2') format('woff2'),
      url('./font.woff') format('woff');
      font-weight: 200;
      font-style: normal;
}

@font-face {
  font-family: JHA Times Now;
  src: url("./font-semiLight.eot");
  src: url("./font-semiLight.woff2") format("woff2"), url("./font-semiLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  font-family: "JHA Times Now", serif;
  background-color:black;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  z-index: 0;
  color:#F7F4EF;
  display: block;
  position: fixed;
  margin: 5vw;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: min(108px, 10vw);
  line-height: 0.9em;
  letter-spacing: -0.045em;
  max-width: 7em;
}

canvas {
  cursor: crosshair;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: difference;
  /* this makes the text blend mode work */
  background-color: #F7F4EF; 
}

footer {
  font-family: sans-serif;
  font-size: max(24px, 3vw);
  font-size: clamp(24px, 3vw, 42px);
  font-weight: lighter;
  text-transform: uppercase;

  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
}

footer ul {
  width: 100%;
  padding: 0;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  line-height: 1.5em;
  margin-right:0.25em;
}

.button {
  float: right;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 100px;
  border: 1px solid black;
  background: black;
  color: #F7F4EF;
  font-size: 0.5em;
  transition: 0.05s ease background;
}

.button:hover {
  color:black;
  cursor: pointer;
  background: #F7F4EF;
  
}

a, footer ul li a:visited {
  color: black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@media screen and (max-width: 770px) {
 h1 {
   max-width: 100%;
   font-size: 12vw;
 }

 .button {
   float: none;
   line-height: 1.5em;
   vertical-align: 0.35em;
 }

 footer ul {
  text-align: center;
 }
}