html {
overflow-x: hidden;
}
header {
    position: fixed;
    top: 0;
    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}
hr {
    border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.s {
    width: 70%;    
    max-height: auto;
}
.form-thumb {
  background: url(images/rando-form.png);
  background-position: 70% 50%;
}
.ge-thumb {
    background: url("images/ge-art.jpg");
    background-position: 25% 25%;
}
.ge-inside {
    background: url("../images/ge-art.jpg");
    background-size: cover;
    background-position: center 25%;
}
.music-thumb {
    background: url("images/music-art-02.svg");
}
.music-inside {
    background: url("./images/music-art-02.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.yoga-thumb {
    background: url("images/y-thumbnail.jpg");
    background-position: center center;
}
.yoga-inside {
    background: url("/images/y-inside.jpg");
    background-size: cover;
    background-position: center center;
}
.wireframe {
    width: 100%;
    height: auto;
}
.s {
    width: 80%;
    height: auto;
}
header {
    z-index: 2;
}
.aspect-ratio {
    z-index: 1;
}
.nav-up {
    top: -92px;
}